.list-famous-people{
	position: absolute;
	left: 200px;
	top: 180px;
	width: 70%;
	height: 420px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: .5px .5px 3px #aaa;
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-areas: "header-list"
						 "body-list";
}

.list-famous-people .header-list{
	border-bottom: 1px solid #ddd;
}
.list-famous-people .body-list{
	padding:25px 50px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr; 
}