<mat-card class="card">
	<mat-card-header>
	    <div mat-card-avatar class="header-image">
	    	<img  src="{{ url+'get-image/'+fp.img }}">
	    </div>
	    <mat-card-title>{{ fp.first_name }} {{ fp.last_name }}</mat-card-title>
	    <mat-card-subtitle>{{ fp.profession }}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-actions>
		<a [routerLink]="['/famous-detail', fp._id]">
			<button mat-button class="btn-primary">View more</button>
		</a>
	    <button mat-button class="btn-delete" (click)="delete($event, fp)">Delete</button>
	</mat-card-actions>
</mat-card>
