<div class="detail-famous">
    <div class="image-famous">
        <div class="img">
            <img src="{{'http://localhost:3000/api/get-image/'+famousPeople.img}}" 
            alt="famousPeople.img">
        </div>
    </div>
    <div class="info-famous">
    	<form #formDetail="ngForm" (ngSubmit)="update()">
   			<app-form [famousPeople]="famousPeople" [isEdit]="'n'" [format]="format" [id]="id"></app-form>
            <mat-grid-list cols="4" rowHeight="45px">
               <mat-grid-tile colspan="4" rownspan="1"> <button type="submit">Update</button> </mat-grid-tile>
    	    </mat-grid-list>
        </form>
    </div>
</div>
