.nav-bar{
	background-color: #7c4dff;
	color: #fff;
}
.nav-bar span{
	text-transform: uppercase;
}
.spacer {
  flex: 1 1 auto;
}

.btn-information{
	color: #fff;
}

.btn-information .icon-header {
  padding: 0 10px;
  height: 35px;
}

