/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fff; }

.loadImg{
	margin-top: 20px;
	height: 30px;
}
div.ng-star-inserted > div{
	padding-left: 0 !important;
}
a.up_btn {  
	border-radius: 5px !important;
	cursor: pointer !important;
	padding: 10px !important;
	background-color: #b47cff !important;
	border: 0px !important;
	color: #fff !important;
	text-transform: uppercase !important;
}

.icon-large{
	font-size: 30px;
}
.ligth-icon {
	color: #7c4dff;
}

